/*清除默认的margin和padding*/
body, ul, ol, h1, h2, h3, h4, h5, h6, p, figure {
    margin: 0;
}
input[type="radio" i],
input[type="checkbox" i] {
    margin: 0 5px 0 0;
}
input,
select {
    vertical-align: middle;
}

/*body的背景色，字号，行高*/
body {
    background: #eee;
    font-size: 14px;
    line-height: 1.5;
}
/*页眉*/
header {
    background: rgba(0,0,0,0.8);
    padding: 0 30px;
    line-height: 0;
}
header img {
    height: 70px;
}
header nav {
    display: inline-block;
    float: right;
}
header nav ul li {
    float: left;
    line-height: 70px;
    margin-left: 20px;
}
header nav ul li a {
    color: white;
}
/*每个article*/
article,
aside {
    margin: 20px;
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 3px #888888;
}
/*每个article-标题*/
article h2 {
    font-size: 22px;
}
article h3 {
    font-size: 16px;
    color: #555;
}
article h2,
article h3,
aside h3,
aside form {
    line-height: 2;
}
aside h3 {
    border-left: 4px solid #ddd;
    text-indent: 1rem;
}
/*每个article-有缩进的段落*/
article p.indent {
    text-indent: 2rem;
}
/*每个article-作者*/
article p.author {
    font-size: 12px;
    color: #888;
    line-height: 2.5;
}
/*article中的ul*/
article ul {
    list-style: none;
}
/*article中的图片*/
article figure {
    padding: 15px 0;
}
/*article.figures中的图片*/
article.figures figure {
    width: 200px;
    display: inline-block;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}
article.figures figure img {
    width: 100%;
}
/*article中的表格*/
article table {
    width: 100%;
    border:1px solid #eee;
    border-collapse:collapse;
}
article table th {
    text-align: left;
    color: white;
    background: rgba(0,0,0,0.8);
}
article table th,
article table td {
    border:1px solid #eee;
}
article table tr.total {
    font-weight: bold;
    background: #ddd;
}
article table tr.total td {
    border-color: #ddd;
}

/*aside中的表格*/
aside form {
    font-size: 12px;
}
aside form span.descrip {
    display: inline-block;
    width: 35%;
    text-align: right;
    margin-right: 5px;
    vertical-align: middle;
}
aside form p.note {
    margin-left: 35%;
    text-indent: 5px;
    font-size: 12px;
    color: #aaa;
    margin-bottom: 10px;
}
aside form label {
    vertical-align: middle;
}
/*placeholder文本的颜色*/
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: black;
}
textarea::-webkit-input-placeholder {
    font-size: 14px;
}
aside form textarea {
    vertical-align: text-top;
}
/*提交按钮*/
aside form input.submit {
    display: block;
    width: 100%;
    margin: 10px auto 0;
    line-height: 2.5;
    font-size: 14px;
    font-weight: bold;
    background: lightblue;
    color: white;
    border-radius: 8px;
    border: none;
}
/*页脚*/
footer {
    color: white;
    background: rgba(0,0,0,0.6);
    text-align: center;
    line-height: 4;
}