*{
		margin:0;
		padding:0;
	}
	body{
		background:#0E0E0E;
	}
	header{
		background:#FFF;
		margin:20px auto;		
	}
	nav,nav .my_aside{
		border:1px solid #999;
		padding:20px;
		overflow:auto;
	}
	nav .aside1{
		border:1px solid #999;
		padding:20px;
		font-size:10px;
		float:left;
	}
	nav .aside1 span{
		width:60px;
		margin-left:20px;
		display:inline-block;
		vertical-align:top;
		background:red;
	}
	nav .aside1 div{
		width:60px;
		height:80px;
		padding:20px;
		vertical-align:top;
		display:inline-block;
		background:#eee;
		border:1px solid #999;
	}
	nav .aside2{
		display:inline-block;
		border:1px solid #999;
		padding:20px;
		width:1000px;
		margin:0 200px;
		vertical-align:top;
	}
	nav .aside2 p{
		font-size:10px;		
	}
	nav .aside3{
		width:80px;
		border:1px solid #999;
		padding:20px;
		font-size:10px;
		display:inline-block;
		float:right;
	}
		nav .aside3 div{
		display:inline-block;
		width:80px;
		height:80px;
		background:#eee;
		border:1px solid #999;
		margin-bottom:20px;
		vertical-align:middle;
	}
	nav .aside3 .teshu{
		margin-bottom:0px !important;
	}